@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
@media screen and (max-width: 500px) {
  .carousel-item img {
    height: 314px;
  }
  .carousel-item h1 {
    font-size: medium;
  }
  .course-img img {
    width: 300px;
  }
}
